.log-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p.error{
  color: hsl(0, 100%, 50%);
}

.log-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}

label {
  color: #6C757D;
}

input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid hsl(185, 50%, 25%);
  border-radius: 5px;
}

input#submit {
  padding: 10px 20px;
  background: hsl(185, 50%, 25%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

input#submit:hover {
  background: hsl(185, 50%, 15%);
}

@media (max-width: 600px) {
  .log-box {
      width: 90%;
  }
}

@media (min-width: 601px) {
  .log-box {
      width: 400px;
  }
}

.register-link, .login-link{
  margin-left: 85%;
  background-color: hsl(0, 0%, 100%);
  color: #6C757D;
  border: 1px solid hsl(185, 50%, 25%);
  padding: 5px 10px;
  border-radius: 5px;
}

.register-link:hover, .login-link:hover{
  background-color: hsl(0, 0%, 90%);
  cursor: pointer;
  text-decoration: underline;
}