body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #F7F9F9;
}

.log-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.log-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

span {
  color: #6C757D;
}

input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #A8D5BA;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #356a4b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #20432d;
}

@media (max-width: 600px) {
  .log-box {
      width: 90%;
  }
}

@media (min-width: 601px) {
  .log-box {
      width: 400px;
  }
}